main>section.reading div.r-top{
    width: 1336px;
    height: 65px;
    padding: 16px 20px;
  
    margin: 0 auto;
    position: relative;
}
main>section.reading>div.r-top>div.read{
vertical-align: middle;
    display: inline-block;
    position: absolute;
    right: 5px;
}
main>section.reading>div.r-top>div.read>p{
    font-size: 15px;
}

main>section.reading>div.r-top>div.readmore{
    position: absolute;
    left: 5px;
    vertical-align: middle;
    display: inline-block;
}
main>section.reading>div.r-top>div.readmore>p{
    font-size: 10px;
    font-weight: 700;
    line-height: 2.17;
    color: #19bfd3;
}
main section.reading div.r-bottom{
    width: 1336px;
    height: 280px;
    margin:0 auto ;
    margin-bottom: 43px;

}
main section.reading div.r-bottom div.book{
    width: 325px;
    height: 280px;
    display: inline-block;
    border: 1px solid #2b2b2b3d;
    border-radius: 8px;
    overflow: hidden;
    margin: 3px;
    
}
main section.reading div.r-bottom div.book img{
    width:inherit ;
    display: inline-block;
    object-fit: cover;
}
main section.reading div.r-bottom div.book div.text{
    display: inline-block;
    margin-top: 8px;
    margin-right: 10px ;
}

