div.support{
    background-color: red;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    z-index: 9999;
    display: inline-block;
    position: fixed;
    right: 50px;
    bottom: 32px;
    padding: 11px ;
}
div.supermarket-fixed{
    background-color: rgb(2, 154, 73);
    width: 271px;
    height: 52px;
    border-radius: 28px;
    z-index: 9999;
    display: inline-block;
    position: fixed;
    left: 50px;
    bottom: 32px;
    padding-left: 10px ;
    color: white;
    line-height: 26px;
}
div.supermarket-fixed pre{
    font-size: larger;
    display: inline-block;
}